
.web_navbar{
    font-family: system-ui;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.2rem;
}

.app_navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}  

.heading{
    margin:0rem 1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.app_login{
    background-color: black;
    margin: 0rem 4rem;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
}

.app__navbar-smallscreen {
    display: none;
}


.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background: black;
    transition: 10s ease-in;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    text-align: left;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.heading1{
    font-size: 27px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
}
@media screen and (max-width: 1150px) {
   .app_navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .app_login{
        margin: 0rem 2rem;
        position: relative;
        left:12rem;
        border-radius:0.4rem ;
    }
}

@media screen and (max-width: 650px) {
    .web_navbar {
        padding: 0.2rem;
    }

    .app_login {
        display: none;
    }
    .app__navbar-smallscreen_overlay {
        top: 0rem;
        width: 100%;
        height: auto;
        transition:all;
        flex-direction: column;
        opacity: 0.8;
    }
    .app__navbar-smallscreen_links li {
        margin: 2rem;
        text-align: center;
    }

    .heading1{
        
        font-size: 1.3rem;
    }
}

